<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="__STATIC__/lib/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" href="__STATIC__/lib/h-ui.admin/css/H-ui.login.css"/>
    <link rel="stylesheet" href="__STATIC__/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <title>注册 - 云服务</title>
</head>
<body onkeypress="press(event)">

<div class="loginWraper">
    <div id="loginform" class="loginBox_register">
        <form class="form form-horizontal" method="post">
            <div class="row cl">
                <label class="form-label col-sm-3 hidden-xs"><span style="margin-top: -0px;">用户名</span></label>
                <div class="col-xs-3 hidden-sm"></div>
                <div class="col-sm-7 col-xs-6">
                    <input id="username" type="text" placeholder="请输入用户名" class="input-text size-L" autocomplete="off">
                </div>
                <div class="col-xs-3 hidden-sm"></div>
            </div>
            <div class="row cl">
                <label class="form-label col-sm-3 hidden-xs"><span>密码</span></label>
                <div class="col-xs-3 hidden-sm"></div>
                <div class="col-sm-7 col-xs-6">
                    <input id="password" type="text" placeholder="请输入密码" class="input-text size-L" autocomplete="off">
                </div>
                <div class="col-xs-3 hidden-sm"></div>
            </div>
            <div class="row cl">
                <label class="form-label col-sm-3 hidden-xs"><span>确认密码</span></label>
                <div class="col-xs-3 hidden-sm"></div>
                <div class="col-sm-7 col-xs-6">
                    <input id="re_password" type="text" placeholder="请再次输入密码" class="input-text size-L"
                           autocomplete="off">
                </div>
                <div class="col-xs-3 hidden-sm"></div>
            </div>


            <div class="row cl">
                <div class="cl">
                    <label class="form-label col-sm-3 hidden-xs"><span>省份</span></label>
                    <div class="col-xs-3 hidden-lg hidden-md hidden-sm"></div>
                    <div class="col-sm-7 col-xs-6">
                        <select class="input-text size-L" id="province">
                            <option value="">请选择省</option>
                            {foreach $province as $v}
                            <option value="{$v}">{$v}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-xs-2"></div>
                </div>

                <div class="cl select_row">
                    <label class="form-label col-sm-3 hidden-xs"><span>城市</span></label>
                    <div class="col-xs-3 hidden-lg hidden-md hidden-sm"></div>
                    <div class="col-sm-7 col-xs-6">
                        <select class="input-text size-L" id="city">
                            <option value="">请选择市</option>
                        </select>
                    </div>
                    <div class="col-xs-2"></div>
                </div>

                <div class="cl select_row">
                    <label class="form-label col-sm-3 hidden-xs"><span>区/县</span></label>
                    <div class="col-xs-3 hidden-lg hidden-md hidden-sm"></div>
                    <div class="col-sm-7 col-xs-6">
                        <select class="input-text size-L" id="county">
                            <option value="">请选择区/县</option>
                        </select>
                    </div>
                    <div class="col-xs-3 hidden-sm"></div>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-sm-3 hidden-xs"><span>备注</span></label>
                <div class="col-xs-3 hidden-sm"></div>
                <div class="col-sm-7 col-xs-6">
                    <input id="details" type="text" placeholder="例如学校名称" class="input-text size-L" autocomplete="off">
                </div>
                <div class="col-xs-3 hidden-sm"></div>
            </div>

            <div class="row cl">
                <label class="form-label col-sm-3 hidden-xs"><span>手机号</span></label>
                <div class="col-xs-3 hidden-sm"></div>
                <div class="col-sm-7 col-xs-6">
                    <input id="phone" type="text" onkeyup="allow_number(this);" placeholder="请输入手机号"
                           class="input-text size-L" autocomplete="off">
                </div>
                <div class="col-xs-3 hidden-sm"></div>
            </div>
            <div class="row cl">
                <label class="form-label col-sm-3 hidden-xs"><span>验证码</span></label>
                <div class="col-xs-3 hidden-lg hidden-md hidden-sm"></div>
                <div class="col-sm-3 col-xs-3">
                    <input id="captcha" type="text" onkeyup="allow_number(this);" placeholder="验证码"
                           class="input-text size-L" autocomplete="off">
                </div>
                <div class="col-sm-3 col-xs-3">
                    <input style="margin-left: -20px;margin-top: 5px;" id="captcha_button" type="button"
                           onclick="get_captcha();" class="btn btn-success radius" value="获取验证码">
                </div>
                <div class="col-xs-3 hidden-sm"></div>
            </div>

            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input id="register" type="button" class="btn btn-success radius size-L"
                           value="&nbsp;注&nbsp;&nbsp;&nbsp;&nbsp;册&nbsp;">
                    <input id="login" type="button" class="btn btn-default radius size-L"
                           value="&nbsp;返&nbsp;&nbsp;&nbsp;&nbsp;回&nbsp;">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/layer.js"></script>
<script>
    $(function () {
        $("#province").change(function () {
            var province = $(this).val();

            if (province == '') {
                var html_city = '<option value="">请选择市</option>';
                var html_county = '<option value="">请选择区/县</option>';

                $("#city").html(html_city);
                $('#county').html(html_county);
            } else if (province == '台湾省') {
                var html_city = '<option value="台湾省">台湾省</option>';
                var html_county = '<option value="台湾省">台湾省</option>';
                $("#city").html(html_city);
                $('#county').html(html_county);
            } else {
                $("#city").html('<option>loading……</option>');
                $.ajax({
                    url: "{:url('Base/Base/get_city_select')}",
                    data: {province: province},
                    dataType: 'json',
                    type: 'post',
                    success: function (re) {
                        var html_city = '<option value="">请选择市</option>';
                        var html_county = '<option value="">请选择区/县</option>';
                        var item = re.city;
                        for (var i in item) {
                            html_city += '<option value="' + item[i] + '" >' + item[i] + '</option>';
                        }
                        $("#city").html(html_city);
                        $('#county').html(html_county);
                    }
                });
            }
        });

        $("#city").change(function () {

            var province = $('#province').val();
            var city = $(this).val();
            var html_county;


            if (city == '') {
                html_county = '<option value="">请选择区/县</option>';
                $('#county').html(html_county);
            } else if (province == '澳门特别行政区'
                || province == '香港特别行政区'
                || city == '东沙群岛'
                || city == '可克达拉市'
                || city == '昆玉市'
                || city == '双河市'
                || city == '铁门关市'
            ) {
                if (city != '') {
                    html_county = '<option value="' + city + '">' + city + '</option>';

                } else {
                    html_county = '<option value="">请选择区/县</option>';
                }
                $('#county').html(html_county);
            } else {
                $("#county").html('<option>loading……</option>');
                $.ajax({
                    url: "{:url('Base/Base/get_county_select')}",
                    data: {city: city},
                    dataType: 'json',
                    type: 'post',
                    success: function (re) {
                        var html = '<option value="">请选择区/县</option>';
                        var item = re.county;
                        for (var i in item) {
                            html += '<option value="' + item[i] + '" >' + item[i] + '</option>';
                        }
                        $("#county").html(html);
                    }
                });
            }
        });

        $('#register').click(doSubmit = function () {
            var username = $('#username').val(),
                password = $('#password').val(),
                re_password = $('#re_password').val(),
                phone = $('#phone').val(),
                captcha = $('#captcha').val(),
                province = $('#province').val(),
                city = $('#city').val(),
                county = $('#county').val(),
                details = $('#details').val();

            //匹配的正则（用户名，密码，手机号）
            var checkUsername = /^\w{2,16}$/,
                checkPwd = /^[A-Za-z0-9\+\-\_\.]{4,16}$/,
                checkPhone = /^1[3456789]{1}\d{9}$/;

            if (username == '') {
                layer.msg('请输入用户名！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
            } else if (!checkUsername.test(username)) {
                layer.msg('用户名：2-16个数字和字母组成！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
            } else if (password == '') {
                layer.msg('请输入密码！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
            } else if (!checkPwd.test(password)) {
                layer.msg('密码：4-16个数字和字母和+-._组成！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
            } else if (password != re_password) {
                layer.msg('两次密码不一致！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
            } else if (province == '') {
                layer.msg('请选择省！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
            } else if (city == '') {
                layer.msg('请选择市！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
            } else if (county == '') {
                layer.msg('请选择区/县！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
            } else if (details == '') {
                layer.msg('请输入备注！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
            } else if (phone == '') {
                layer.msg('请输入手机号！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
            } else if (!checkPhone.test(phone)) {
                layer.msg('手机号格式不正确，请重新输入！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
            } else if (captcha == '') {
                layer.msg('请输入验证码！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
            } else {
                $.ajax({
                    url: "{:url('Common/register')}",
                    data: {
                        username: username,
                        password: password,
                        re_password: re_password,
                        phone: phone,
                        captcha: captcha,
                        province: province,
                        city: city,
                        county: county,
                        details: details
                    },
                    dataType: 'json',
                    type: 'post',
                    success: function (re) {
                        var state = re.state;
                        if (state == 'success') {
                            layer.msg('注册成功，请等候管理员的审核！', {icon: 6, shade: [0.3, '#393D49'], time: 1500});
                            location.href = "{:url('Common/login')}";
                        } else if (state == 'error_empty') {
                            layer.msg('请输入完整的信息！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                        } else if (state == 'error_username') {
                            layer.msg('用户名：2-16个数字和字母组成！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                        } else if (state == 'error_username_13') {
                            layer.msg('用户名已经存在，请换个用户名！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                        } else if (state == 'error_username_2') {
                            layer.msg('之前已提交申请，请等候管理员审核！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                        } else if (state == 'error_password') {
                            layer.msg('密码：4-16个数字和字母和+-._组成！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                        } else if (state == 'error_re_password') {
                            layer.msg('两次密码不一致！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                        } else if (state == 'error_cache_phone_empty') {
                            layer.msg('请先获取验证码！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                        } else if (state == 'error_cache_phone') {
                            layer.msg('手机号和验证码手机号不一致！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                        } else if (state == 'error_captcha') {
                            layer.msg('验证码不正确！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                        } else if (state == 'error') {
                            layer.msg('注册失败，请稍候再试！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                        } else {
                            layer.msg('注册失败，请稍候再试22！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                        }
                    }
                });
            }
        });

        $('#login').click(function () {
            location.href = "{:url('Common/login')}";
        });

    });

    //发送验证码
    function get_captcha() {

        var phone = $('#phone').val();
        if (phone == '') {
            layer.msg('手机号不能为空！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
        } else {
            var reg = /^1[3456789]{1}\d{9}$/;
            if (!reg.test(phone)) {
                layer.msg('手机号码格式不正确，请重新输入！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
            } else {
                send_captcha(phone);
            }
        }
    }

    function send_captcha(phone) {
        $.ajax({
            url: "{:url('Common/captcha_register')}",
            data: {phone: phone},
            dataType: 'json',
            type: 'post',
            success: function (re) {
                var state = re.state;
                if (state == 'success') {
                    layer.msg('验证码已发送，请查收！', {icon: 6, shade: [0.3, '#393D49'], time: 1500});
                    reset_captcha();
                } else if (state == 'error_phone_empty') {
                    layer.msg('手机号不能为空！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                } else if (state == 'error_phone') {
                    layer.msg('手机号格式不正确！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                } else if (state == 'error_code_time') {
                    layer.msg('请60秒后再发送！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                } else if (state == 'error_sms') {
                    layer.msg('验证码发送失败，请稍候再试！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                } else if (state == 'error_db') {
                    layer.msg('短信系统故障，请联系管理员！', {icon: 5, shade: [0.3, '#393D49'], time: 1500});
                }
            }
        });
    }

    //重发验证码倒计时
    function reset_captcha() {
        var captcha_button = $('#captcha_button');
        captcha_button.attr('disabled', true);
        captcha_button.val('60秒后重发');
        var second = 60;
        var timer = null;
        var second_string = null;
        timer = setInterval(function () {
            second -= 1;
            if (second > 0) {
                second_string = second + '秒后重发';
                captcha_button.val(second_string);
            } else {
                clearInterval(timer);
                captcha_button.attr('disabled', false);
                captcha_button.val('获取验证码');
            }
        }, 1000);
    }

    function allow_number(e) {
        var value = e.value;
        if (value.length == 1) {
            e.value = value.replace(/[^0-9]/g, '');
        } else {
            e.value = value.replace(/\D/g, '');
        }
    }

    //回车键提交表单
    function press(e) {
        var currKey = 0, ee = e || event;
        currKey = e.keyCode || e.which || e.charCode;
        var keyName = String.fromCharCode(currKey);
        if (currKey == 13) {
            doSubmit();
        }
    }


</script>
</html>