{include file="common/headcss"}
{include file="common/head"}
{include file="common/perpub"}

		<form class="layui-form">
		<div class="my-space-course float_l">
			<div class="course-tab float_l" >
				<!-- <a>历史观看</a> -->
				<div class="layui-input-block float_r" style="margin-top: 10px;">
			      <select name="coursetype" lay-verify="required" lay-filter="search_type">
			        <option value="1">点播视频</option>
			        <option value="2">直播视频</option>
			        <option value="3">公开课视频</option>
			      </select>
			    </div>
			</div>
			
			<div class="course-list" id="list" style="min-height:250px;">
			</div>
			<center>
				<div id="test1"></div>
			</center>
		</div>	
	</form>	
	</div>
	
</div>
<!-- <div class="width100" style="height: 1000px;background-color: #000;"></div> -->
<!-- 页脚 -->

</body>
<script>
	// 初始化页面
	var pagesize=10;//每页的数量
	var pagenow=1;//当前页

	window.onload=function(){
		getpage();
		// getvideotype();
	}
	// layui的分页组件应该，先ajax请求过去后再初始化组件
	function getpage(){
		layui.use("laypage", function(){
			var laypage = layui.laypage;
			//执行一个laypage实例
			var url="{:url('Index/teacher/myvideodata')}";
			var videourl=getRootPath()+'/video';
			var token=getCookie("token");
			$.ajax({
				url:url,
				type:"post",
				dataType:"json",
				data:{"token":token,"pagenow":pagenow,"pagesize":pagesize},
				success:function(e){
					if(e.status=='1'){
						if(e.data!=''){
							var html='';
							for(var item in e.data){
								var imageurl=getRootPath()+'/';
								html+='<div class="clearfix float_l"><img class="float_l" style="width:220px;height:120px;" src="'
								+imageurl+e.data[item].videotab_image+
								'"><div class="clearfix-title float_l"><h3 style="margin-top:0px;margin-bottom:0px;">'
								+e.data[item].videotab_title+
								'</p><p class="course-content">收藏日期：'
								+e.data[item].videotab_time+
								'</p><span class="course-content">视频类别：'
								+e.data[item].video_parent+'/'+ e.data[item].video_son+
								'</span><br><br><a class="titletab3" style="margin-right:10%;" onclick="note('
								+e.data[item].videotab_id+','+e.data[item].note_count+',1)">我的笔记 ('+e.data[item].note_count+
								')</a><a class="titletab3" style="margin-right:10%;" onclick="discuss('
								+e.data[item].videotab_id+','+e.data[item].discuss_count+',1);">讨论 ('+e.data[item].discuss_count+
								')</a><a class="titletab3" onclick="assess('
								+e.data[item].videotab_id+','+e.data[item].assess_count+',1);">评价 ('+e.data[item].assess_count+
								')</a><a class="layui-btn layui-btn-sm layui-btn-radius float_r" style="margin-right:10px;" href="'
								+videourl+'?video_id='+e.data[item].videotab_id+'&video_type=1">预览视频</a>'
								+'<a class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm float_r" style="margin-right:10px;" style="margin-right:10px;" onclick="delnote('
								+e.data[item].videotab_id+')">视频详情</a></div></div><hr>';
							}
							$('#list').html(html);
							laypage.render({
							elem: "test1"
							,count: e.count
							,limit:e.pagesize
							,jump: function(obj, first){
								if(!first){
									pagesize=obj.limit;//前端设置页数量
									pagenow=obj.curr;//前端设置当前页
									$.ajax({
										url:url,
										type:"post",
										dataType:"json",
										data:{"token":token,"pagenow":obj.curr,"pagesize":obj.limit,'video_type':video_type},
										success:function(e){
											var html='';
											for(var item in e.data){
												var imageurl=getRootPath()+'/';
												html+='<div class="clearfix float_l"><img class="float_l" style="width:220px;height:120px;" src="'
												+imageurl+e.data[item].videotab_image+
												'"><div class="clearfix-title float_l"><h3 style="margin-top:0px;margin-bottom:0px;">'
												+e.data[item].videotab_title+
												'</p><p class="course-content">收藏日期：'
												+e.data[item].videotab_time+
												'</p><span class="course-content">视频类别：'
												+e.data[item].video_parent+'/'+ e.data[item].video_son+
												'</span><br><br><a class="titletab3" style="margin-right:10%;" onclick="note('
												+e.data[item].video_id+','+e.data[item].note_count+',1)">我的笔记 ('+e.data[item].note_count+
												')</a><a class="titletab3" style="margin-right:10%;" onclick="discuss('
												+e.data[item].video_id+','+e.data[item].discuss_count+',1);">讨论 ('+e.data[item].discuss_count+
												')</a><a class="titletab3" onclick="assess('
												+e.data[item].video_id+','+e.data[item].assess_count+',1);">评价 ('+e.data[item].assess_count+
												')</a><a class="layui-btn layui-btn-sm layui-btn-radius float_r" style="margin-right:10px;" href="'
												+videourl+'?video_id='+e.data[item].videotab_id+'&video_type=1">预览视频</a>'
												+'<a class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm float_r" style="margin-right:10px;" style="margin-right:10px;" onclick="delnote('
												+e.data[item].videotab_id+')">视频详情</a></div></div><hr>';
											}
											$('#list').html(html);
										}
									});
								}else{
									// alert("首页")不做处理
								}
							}
						});
						}else{
							//暂无数据
							$('#test1').html("<p class='no-course-helper' style='text-align:center'><span>暂时无记录！</span></p>");
						}
					}else{
							//暂无数据
							$('#test1').html("<p class='no-course-helper' style='text-align:center'><span>暂时无记录！</span></p>");
						}
				}
			})
			
		});
	}
//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;
  
  //…
});

$('#userinfomess').hover(function(){
    $('#userinfoset').attr('class','userinfo');
  },
  function(){})
$('#userinfoset').hover(function(){

},function(){
    $('#userinfoset').attr('class','userinfo userinfo-hoverls');
  }
)
//讨论详情
function discuss(video_id,nums,video_type){
	var token=getCookie('token');
	if(nums>0&&video_id!=''){
		var url=getRootPath()+'/index/person/discusslist';
		url+='?video_id='+video_id+'&video_type='+video_type;
		if(token!=''){
			layer.open({
				type: 2, 
				title:"讨论",
				content: url,
				area: ['1080px', '768px'],
			}); 
		}else{
			layer.msg('您还未登录');
		}
	}else{
		layer.msg('暂时没有讨论');
	}
}

//笔记详情
function note(video_id,nums,video_type){
	var token=getCookie('token');
	if(nums>0&&token!=''&&video_id!=''){
		var url=getRootPath()+'/index/person/notelist';
		url+='?video_id='+video_id+'&video_type='+video_type+'&token='+token;
		if(token!=''){
			layer.open({
				type: 2, 
				title:"我的笔记",
				content: url,
				area: ['900px', '600px'],
			}); 
		}else{
			layer.msg('您还未登录');
		}
	}else{
		layer.msg('暂时没有笔记');
	}
}
//评价详情
function assess(video_id,nums,video_type){
	var token=getCookie('token');
	if(nums>0&&token!=''&&video_id!=''){
		var url=getRootPath()+'/index/person/assesslist';
		url+='?video_id='+video_id+'&video_type='+video_type;
		if(token!=''){
			layer.open({
				type: 2, 
				title:"评价列表",
				content: url,
				area: ['900px', '600px'],
			}); 
		}else{
			layer.msg('您还未登录');
		}
	}else{
		layer.msg('暂时没有评价');
	}

}
//获取网站参数
function getPar(par){
	    //获取当前URL
	    var local_url = document.location.href; 
	    //获取要取得的get参数位置
	    var get = local_url.indexOf(par +"=");
	    if(get == -1){
	        return false;   
	    }   
	    //截取字符串
	    var get_par = local_url.slice(par.length + get + 1);    
	    //判断截取后的字符串是否还有其他get参数
	    var nextPar = get_par.indexOf("&");
	    if(nextPar != -1){
	        get_par = get_par.slice(0, nextPar);
	    }
	    return get_par;
	}

</script>
</html>
