{include file="common/headcss"}
{include file="common/head"}
<div style="height: 80px;"></div>
<div class="layui-fluid " >
	<div class="layui-row">
		<div class="layui-col-md10 layui-col-md-offset1">
			<!-- 搜索框 -->
			<div class="logo-course float_l">
				<img style="width: 140px;height: 60" src="__STATIC__/img/logo-course.png">
				<img style="width: 96px;height: 60px;" src="__STATIC__/img/course-top.png">
			</div>
			<div class="course-top-search float_r">
	            <div class="search-area float_l" data-search="top-banner">
	                <input class="search-input" id="searchkey" data-suggest-trigger="suggest-trigger" placeholder="搜索感兴趣的内容" type="text" autocomplete="off">
	                
	            </div>
	            <div class="showhide-search float_l" data-show="no" onclick="typesearch();"><i class="layui-icon" id="searchicon" style="cursor: pointer;">&#xe615;</i></div>
	        </div>
	        <hr style="margin-bottom: 0px;margin-top: 0px;">
	        <div>
	        	<div class="course-type">
	        		<div class="sp">
	        			<span>父级类目:</span>
	        		</div>
	        		<div class="bd">
	        		<ul>
	        			{foreach name="videotype_parent" item="vo"}
	        			<!-- <a class="ison" href="javascript(0):;">全部</a> -->
	        			{if condition="($vo.is_on eq 1)"}
	                        <li>
		        				<a class="ison" onclick="typeparent({$vo.videotype_id});">{$vo.videotype_name}</a>
		        			</li>  
                        {else /} 
                          <li>
	        					<a onclick="typeparent({$vo.videotype_id});">{$vo.videotype_name}</a>
	        				</li>
                        {/if}
	        			{/foreach}
	        		</ul>
	        		</div>
	        	</div>
	        	<hr class="layui-bg-gray" style="margin-bottom: 0px;margin-top: 0px;">
	        	<div class="course-type">
	        		<div class="sp">
	        			<span>子级类目:</span>
	        		</div>
	        		<div class="bd">
	        		<ul>
	        			{foreach name="videotype_son" item="vo"}
	        			<!-- <a class="ison" href="javascript(0):;">全部</a> -->
	        			{if condition="($vo.is_on eq 1)"}
	                        <li>
		        				<a class="ison" onclick="typeson({$vo.son_id},{$vo.is_mesh});">{$vo.son_name}</a>
		        			</li>  
                        {else /} 
                          <li>
	        					<a onclick="typeson({$vo.son_id},{$vo.is_mesh});">{$vo.son_name}</a>
	        				</li>
                        {/if}
	        			{/foreach}
	        		</ul>
	        		</div>
	        	</div>
	        	<hr class="layui-bg-gray" style="margin-bottom: 0px;margin-top: 0px;">
	        	<div class="course-type">
	        		<div class="sp">
	        			<span>难度:</span>
	        		</div>
	        		<div class="bd">
	        		<ul>
	        			{foreach name="level" item="vo"}
	        			{if condition="($vo.is_on eq 1)"}
	                        <li>
		        				<a class="ison"  onclick="typelevel({$vo.level_id});">{$vo.level_name}</a>
		        			</li>  
                        {else /} 
                          <li>
	        					<a onclick="typelevel({$vo.level_id});">{$vo.level_name}</a>
	        				</li>
                        {/if}
	        			{/foreach}
	        		</ul>
	        		</div>
	        	</div>
	        </div>
		</div>
	</div>
</div>
<div class="backg_qiangray" style="box-shadow: 0px 1px 3px #ccc inset;">
	<div class="layui-fluid" >
		<div class="layui-row">
			<div class="layui-col-md10 layui-col-md-offset1 float_l" style="margin-top:32px;">
		{php}for($i=0;$i<30;$i++){{/php}
             <div class="course_block" onclick="link();">
                <div>
                  <img class="course_img" src="__STATIC__/img/59b8a486000107fb05400300.jpg">
                </div>
                <div class="course-card-content"><!--课程内容-->
                  <h3 class="text_c course_h3">全网最热Python3入门+进阶 更快上手实际开发</h3>
                </div>
              <div class="course-card-bottom">
                <div class="course-card-info">
                  <span class="course-text">实战</span>
                  <span class="course-text">初级</span>
                  <span class="course-text">
                    <i class="layui-icon">&#xe770;</i>5850</span>
                  <span class="course-star-box">
                    <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
                    <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
                    <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
                    <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
                    <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
                  </span>
                </div>
                <div style="font-size: 12px;color: #4D555D;padding: 2%">￥366.00
                </div>
              </div>
            </div>
            {php}}{/php}
			</div>
			<div class="layui-col-md-offset1 layui-col-md10 text_c" id="test1"></div>
		</div>
	</div>
</div>
<!-- 页脚 -->
<div class="width100 float_l padding_t30 height193">
  <div class="width_1200 margin_auto">
     
        <div class="width100 float_l text_c yejiao color_gray" >
            <a>关于我们</a>
            <a>企业合作</a>
            <a>联系我们</a>
            <a>意见反馈</a>
            <a>友情链接</a>
      </div>
        <div class="width100 float_l text_c border_t margin_t20 padding_t20 color_gray fon_siz12">
          <span>© 2016   京ICP备13042132号</span>
        </div>
    </div>
</div>
</body>
<script>
//分页用tp5中带的render()分页即可
// layui.use('laypage', function(){
//   var laypage = layui.laypage;
  
//   //执行一个laypage实例
//   laypage.render({
//     elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
//     ,count: 50 //数据总数，从服务端得到
//     ,first:'1'
//     ,limit:30
//     ,last:'100'
//     ,jump: function(obj, first){
// 	    //obj包含了当前分页的所有参数，比如：
// 	    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
// 	    console.log(obj.limit); //得到每页显示的条数
// 	    //首次不执行
// 	    if(!first){
// 	      //do something
// 	    }
// 	}
// });
// });
</script>
<script type="text/javascript">
	  // 课程模块的hover事件
  $('.course_block').hover(function(){

    var div=$(this).children('div');
    div.each(function () {
      // alert($(this).attr('class'));
      if($(this).attr('class')=='course-card-content'){
        $(this).children('h3').attr('style','color:red');
      }
    });
  },
  function(){
    var div=$(this).children('div');
    div.each(function () {
      // alert($(this).attr('class'));
      if($(this).attr('class')=='course-card-content'){
        $(this).children('h3').attr('style','color:#07111B');
      }
    });
  })
  function link(){
  	// alert('321');
  	window.location.href='http://localhost/resource/index.php/course_detail.html';
  }
  $('#userinfomess').hover(function(){
    $('#userinfoset').attr('class','userinfo');
	  },
	  function(){})
	$('#userinfoset').hover(function(){

	},function(){
	    $('#userinfoset').attr('class','userinfo userinfo-hoverls');
	  }
	)
	$('#searchicon').hover(function(){
		$('#searchicon').attr('style','font-size:26px;color:#333;cursor: pointer;')
	},
		function(){
			$('#searchicon').attr('style','color:#93999F;cursor: pointer;')
		}
	);
	//搜索代码
	function typesearch(){
		var searchkey=$('#searchkey').val();
		var url="{:url('Index/index/course_list')}";
		var videotype_id,search,level_id,is_mesh,son_id;
		if(!getPar('level_id')){
			level_id='0';//获取难度id
		}else{
			level_id=getPar('level_id');
		}
		if(!getPar('videotype_id')){
			videotype_id='0';//获取难度id
		}else{
			videotype_id=getPar('videotype_id');
		}
		if(!getPar('is_mesh')){
			is_mesh='0';//获取是否子类重复
		}else{
			is_mesh=getPar('is_mesh');
		}
		if(!getPar('son_id')){
			son_id='0';//获取是否子类重复
		}else{
			son_id=getPar('son_id');
		}
		url=url+"?videotype_id="+videotype_id+"&search="+search+"&level_id="+level_id+"&son_id="+son_id+"&is_mesh="+is_mesh;
		location.href=url;
	}
	function typeparent(parent_id){
		var url="{:url('Index/index/course_list')}";
		var videotype_id,search,level_id,is_mesh,son_id;
		videotype_id=parent_id;//获取菜单的id,不分父子节点
		if(!getPar('search')){
			search='';//获取搜索关键词
		}else{
			search=getPar('search');
		}
		if(!getPar('level_id')){
			level_id='0';//获取难度id
		}else{
			level_id=getPar('level_id');
		}
		if(!getPar('is_mesh')){
			is_mesh='0';//获取是否子类重复
		}else{
			is_mesh=getPar('is_mesh');
		}
		if(!getPar('son_id')){
			son_id='0';//获取是否子类重复
		}else{
			son_id=getPar('son_id');
		}
		url=url+"?videotype_id="+videotype_id+"&search="+search+"&level_id="+level_id+"&son_id="+son_id+"&is_mesh="+is_mesh;
		location.href=url;
	}
	function typeson(son_id,is_mesh){
		var url="{:url('Index/index/course_list')}";
		var videotype_id,search,level_id,is_mesh,son_id;
		if(!getPar('videotype_id')){
			videotype_id='';//获取搜索关键词
		}else{
			videotype_id=getPar('videotype_id');
		}
		if(!getPar('search')){
			search='';//获取搜索关键词
		}else{
			search=getPar('search');
		}
		if(!getPar('level_id')){
			level_id='0';//获取难度id
		}else{
			level_id=getPar('level_id');
		}
		if(!getPar('is_mesh')){
			is_mesh='0';//获取是否子类重复
		}else{
			is_mesh=getPar('is_mesh');
		}
		url=url+"?videotype_id="+videotype_id+"&search="+search+"&level_id="+level_id+"&son_id="+son_id+"&is_mesh="+is_mesh;
		location.href=url;
	}
	function typelevel(level_id){
		var url="{:url('Index/index/course_list')}";
		var videotype_id,search,level_id,is_mesh,son_id;
		if(!getPar('search')){
			search='';//获取搜索关键词
		}else{
			search=getPar('search');
		}
		if(!getPar('videotype_id')){
			videotype_id='';
		}else{
			videotype_id=getPar('videotype_id');
		}
		if(!getPar('is_mesh')){
			is_mesh='0';//获取是否子类重复
		}else{
			is_mesh=getPar('is_mesh');
		}
		if(!getPar('son_id')){
			son_id='0';//获取是否子类重复
		}else{
			son_id=getPar('son_id');
		}
		url=url+"?videotype_id="+videotype_id+"&search="+search+"&level_id="+level_id+"&son_id="+son_id+"&is_mesh="+is_mesh;
		location.href=url;
	}
	function getPar(par){
	    //获取当前URL
	    var local_url = document.location.href; 
	    //获取要取得的get参数位置
	    var get = local_url.indexOf(par +"=");
	    if(get == -1){
	        return false;   
	    }   
	    //截取字符串
	    var get_par = local_url.slice(par.length + get + 1);    
	    //判断截取后的字符串是否还有其他get参数
	    var nextPar = get_par.indexOf("&");
	    if(nextPar != -1){
	        get_par = get_par.slice(0, nextPar);
	    }
	    return get_par;
	}
</script>
<style type="text/css">
.course_block img:hover{
	-webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
	-moz-transform:scale(1.1); /*Mozilla scale version*/
	-o-transform:scale(1.1); /*Opera scale version*/
	box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
	-webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
	-moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
	opacity: 1;

}

.course-card-content h3:hover{
  	color: red;
}

</style>
</style>
</html>