{include file="common/headcss"}
{include file="common/head"}
<div class="list-color"></div>
<div style="height: 80px;"></div>
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-col-md8 layui-col-md-offset2 ">
			<div class="path">
				<span class="layui-breadcrumb" lay-separator="\">
				  <a href="{:url('Index/index/tab')}">点播</a>
				  <a href="{:url('Index/index/course_list',['videotype_id'=>$videotab.videotype_parentid,'son_id'=>'0','level_id'=>'0','is_mesh'=>'1','is_tab'=>1])}">{$videotab.parent_name}</a>
				  <a href="{:url('Index/index/course_list',['videotype_id'=>$videotab.videotype_parentid,'son_id'=>$videotab.videotype_id,'level_id'=>'0','is_mesh'=>'1','is_tab'=>1])}">{$videotab.son_name}</a>
				  <a href="">
				  {php}echo cutstr($videotab['videotab_title'],0,5,'...'){/php}</a>
				</span>
			</div>
			<div class="title float_l">
				{php}echo cutstr($videotab['videotab_title'],0,10,'...'){/php}
				
			</div>
			<div class="static-item float_l">
				{if condition="($videotab['iscollect'] eq 0)"}
				<div id="clickcollect" style="cursor: pointer;" onclick="collectchoose('0',{$videotab['video_type']},{$videotab['videotab_id']});">
					<i id="collect" class="layui-icon" style="font-size: 25px;margin-left: 50px;">&#xe67b;</i>-收藏-
				</div>
				{else /}
				<div id="clickcollect" style="cursor: pointer;" onclick="collectchoose('1',{$videotab['video_type']},{$videotab['videotab_id']});">
					<i id="oncollect" class="layui-icon" style="font-size: 25px;margin-left: 50px;">&#xe67a;</i>-已收藏-
				</div>
				{/if}
			</div>
			<div class="float_l width100 " style="margin-bottom: 20px;">
				<div class="info float_l" >
					<img class="image " src="__STATIC__/img/touxiang.png">
					<span class="name ">{$videotab.username}</span><br>
					<span class="work ">上传者</span>
				</div>
				<div class="static-item float_l">
					-难度：{if condition="($videotab.videotab_level eq 1)"}
                      简单-
                    {elseif condition="$videotab.videotab_level eq 2"/}
                      一般-
                    {else /} 
                      复杂-
                    {/if}
				</div>
				
				<div class="static-item float_l">
					-观看次数：{$videotab.videotab_views}-
				</div>
				<div class="static-item float_l">
					-评价人数：{$videotab.videotab_assessnums}-
				</div>
				<div class="static-item float_l">
					-综合评分：{$videotab.videotab_assessscore}-
				</div>
			</div>
			
		</div>
	</div>
</div>
<div class="width100" style="background-color: #fff;box-shadow: 0 4px 8px 0 rgba(28,31,33,.1);height: 68px;z-index: 99">
	<div class="layui-fluid">
		<div class="layui-row">
			<div class="layui-col-md8 layui-col-md-offset2 float_l" >
				<ul class="menu">
					<a href="{:url('Index/index/course_detail',['videotab_id'=>$videotab['videotab_id']])}"><li style="cursor: pointer;">课程简介</li></a>
					<a href="{:url('Index/index/course_resource',['videotab_id'=>$videotab['videotab_id']])}"><li style="cursor: pointer;">课程资源/作业</li></a>
					<a href="{:url('Index/index/course_discuss',['videotab_id'=>$videotab['videotab_id']])}"><li class="ison" style="cursor: pointer;">课堂讨论</li></a>
					<a href="{:url('Index/index/course_assess',['videotab_id'=>$videotab['videotab_id']])}"><li style="cursor: pointer;">课程评价</li></a>
				</ul>
			</div>
		</div>
	</div>
</div>
<div style="height: 7px;width: 100%;"></div>
<div class="width100 backg_qiangray">
	<div class="layui-row" style="min-height: 290px;">
		<div class="content layui-col-md-offset2 layui-col-md5">
			{php}if(!$discuss){echo "<p class='no-course-helper' style='text-align:center'><span>暂时无评论！</span></p>";}{/php}
			{foreach name="discuss" item="vo"}
			<div class="course-description" style="min-height: 150px;color: #1c1f21;">
				<div class="layui-col-md2">
					<a class="float_l">
						<img src="__STATIC__/img/touxiang.png" style="height: 48px;width: 48px;border-radius: 50%;">
					</a>
					<div class="assess-info" style="height:100%;cursor:pointer;margin-left: 10px;">
						<span class="username float_l">
							{$vo.username}
						</span>
						
					</div>
				</div>
				<div class="layui-col-md10">
					<p class="discuss-title">
						{$vo.discuss_title}
                    </p>
					<p class="" style="margin-top: 10px;">
						{$vo.discuss_content}
					</p>
					<span class="float_r time" >
						<a style="color: #1E9FFF;" onclick="discusscall('{$vo.discuss_id}','{$vo.discuss_title}');">回答：{$vo.discusscall_num}  </a> 发布时间：{php}echo date('Y-m-d H:i',$vo['discuss_time']);{/php}
						<button class="layui-btn layui-btn-radius layui-btn-normal" style="margin-left: 15px;" onclick="answer('{$vo.discuss_id}','{$vo.discuss_title}');">我来回答</button>
					</span>
					
				</div>
			</div>
			{/foreach}

		</div>
		<div class="course-learn layui-col-md2">
			<dt class="course-known">课程须知</dt>
			<dd class="course-known">{$videotab.videotab_mustknown}</dd>
			<!-- <dt class="course-known">你能学到的</dt>
			<dd class="course-known"></dd> -->
			<a class="startlearn" href="{:url('Index/index/video')}">开始学习</a>
			<!-- <dt class="course-known">课程须知</dt>
			<dd  class="course-known">1.你需要掌握html+css样式基础知识
			2.有一定的前端实际开发经验</dd>
			<dt  class="course-known">课程须知</dt>
			<dd class="course-known">1.你需要掌握html+css样式基础知识
			2.有一定的前端实际开发经验</dd>
			<dt class="course-known">课程须知</dt>
			<dd class="course-known">1.你需要掌握html+css样式基础知识
			2.有一定的前端实际开发经验</dd> -->
			
		</div>
	</div>
</div>

<!-- 页脚 -->
<div class="width100 float_l padding_t30 height193">
  <div class="width_1200 margin_auto">
        <div class="width100 float_l text_c yejiao color_gray" >
            <a>关于我们</a>
            <a>企业合作</a>
            <a>联系我们</a>
            <a>意见反馈</a>
            <a>友情链接</a>
      	</div>
        <div class="width100 float_l text_c border_t margin_t20 padding_t20 color_gray fon_siz12">
          	<span>© 2016   京ICP备13042132号</span>
        </div>
    </div>
</div>

</body>
<style type="text/css">

  .list-color{
    background-image: url("__STATIC__/img/test.png");
    height: 200px;
    /*opacity: 0.8;*/
    /*filter:blur(180px);*/
    top:150px;
    width: 100%;
    position: absolute;
    top: 50px;
    width: 100%;
    height: 280px;
    /*filter:blur(50px);*/
    z-index: -1;
    background-size:cover; 
}
.no-course-helper{
	font-size: 24px;
    font-weight: 300;
    color: #93999f;
    line-height: 24px;
    padding:20px;
}
</style>
<script type="text/javascript" src="__STATIC__/js/cookie.js"></script>
<script>
//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;
  
  //…
});
$('#userinfomess').hover(function(){
	    $('#userinfoset').attr('class','userinfo');
	  },
	  function(){})
	$('#userinfoset').hover(function(){

	},function(){
	    $('#userinfoset').attr('class','userinfo userinfo-hoverls');
	  }
	)

function collectchoose(choose,videotype,video_id){
	var token=getCookie('token');
	// alert('token:'+token);
	var url="{:url('Index/person/coursecollect')}";
	var data={};
		data['choose']=choose;
		data['videotype']=videotype;
		data['video_id']=video_id;
		data=JSON.stringify(data);
		// {"token":"96bebf18c3a102c494f1e8f8a9d471e1","choose":"0","videotype":1,"video_id":4}
		if(token!=''){
			$.ajax({
			    url:url,
			    data:{'data':data,'token':token},
			    type:'post',
			    datatype:'json',
			    success : function(event){
			    	// layer.msg(event.data);
			    	if(choose=='0'){
						$('#clickcollect').html('<i id="oncollect" class="layui-icon" style="font-size: 25px;margin-left: 50px;">&#xe67a;</i>-已收藏-');
						$('#clickcollect').attr('onclick','collectchoose(1,'+videotype+','+video_id+')');
						layer.msg('收藏成功');
					}else if(choose=='1'){
						$('#clickcollect').html('<i id="collect" class="layui-icon" style="font-size: 25px;margin-left: 50px;">&#xe67b;</i>-收藏-');
						$('#clickcollect').attr('onclick','collectchoose(0,'+videotype+','+video_id+')');
						layer.msg('取消收藏成功');
					}
			    }
			});
		}else{
			layer.msg('收藏失败，您还未登录哦');
		}
	}
	// $('#collect').hover(function(){
	// 	$('#collect').attr('class','layui-icon collect-n');
	// 	// alert('收藏的悬浮');
	// },
	// 	function(){
	// 		$('#collect').attr('class','layui-icon');
	// 	}
	// );
	// $('#oncollect').hover(function(){
	// 	$('#oncollect').attr('class','layui-icon collect-y');
	// },
	// 	function(){
	// 	$('#oncollect').attr('class','layui-icon');
	// 	}
	// );
	var token=getCookie('token');
	function discusscall(discuss_id,title){
		var url="{:url('Index/person/course_answerlist')}";
		url+='?discuss_id='+discuss_id;
		if(token!=''){
			layer.open({
				type: 2, 
				title:title,
				content: url,
				area: ['900px', '600px'],
			}); 
		}else{
			layer.msg('您还未登录');
		}
	}
	function answer(discuss_id,title){
		var url="{:url('Index/person/course_answer')}";
		url+='?discuss_id='+discuss_id;
		if(token!=''){
			layer.open({
				type:2,
				title:title,
				content:url,
				width:"500px",
				area: ['700px', '500px'],
			});
		}else{
			layer.msg('您还未登录');
		}

	}
</script>
</html>