{include file="common/headcss"}
<link rel="stylesheet" href="__STATIC__/lib/h-ui/css/H-ui.min.css"/>
<link rel="stylesheet" href="__STATIC__/lib/h-ui.admin/css/H-ui.admin.css"/>
<link rel="stylesheet" href="__STATIC__/lib/Hui-iconfont/1.0.8/iconfont.css"/>
{include file="common/head"}

<article class="page-404 minWP text-c">
	<p class="error-title"><i class="Hui-iconfont va-m">&#xe688;</i>
		<span class="va-m"> 404</span>
	</p>
	<p class="error-description">不好意思，您访问的页面不存在~</p>
	<p class="error-info">您可以：
		<a href="javascript:;" onclick="history.go(-1)" class="c-primary">&lt; 返回上一页</a>
		<span class="ml-20">|</span>
		<a href="__ROOT__" class="c-primary ml-20">去首页 &gt;</a>
	</p>
</article>
<div class="width100 float_l padding_t30 height193">
	<div class="width_1200 margin_auto">
        <div class="width100 float_l text_c yejiao color_gray">
            <a>关于我们</a>
            <a>联系我们</a>
            <a>意见反馈</a>
            <a>友情链接</a>
    	</div>
        <div class="width100 float_l text_c border_t margin_t20 padding_t20 color_gray fon_siz12">
        	<span>© 2016  京ICP备13042132号</span>
        </div>
    </div>
</div>
</body>
</html>