{include file="common/headcss"}
{include file="common/head"}
<div class="list-color"></div>
<div style="height: 80px;"></div>
  <div class="layui-row">
    <div class="layui-col-md-offset2">
      <div class="layui-carousel float_l height500" id="test1" lay-filter="demo" style="border-radius: 1%;box-shadow:0 5px 5px rgba(0, 0, 0, 0.3);position: relative;">
        <div carousel-item style="border-radius: 1%;">
          <div><img src="__STATIC__/img/1.jpg" style="height: 450px;width: 100%;"></div>
          <div><img src="__STATIC__/img/0.jpg" style="height: 450px;width: 100%;"></div>
          <div><img src="__STATIC__/img/1.jpg" style="height: 450px;width: 100%;"></div>
          <div><img src="__STATIC__/img/0.jpg" style="height: 450px;width: 100%;"></div>
          <div><img src="__STATIC__/img/1.jpg" style="height: 450px;width: 100%;"></div>
          <div><img src="__STATIC__/img/0.jpg" style="height: 450px;width: 100%;"></div>
        </div>
      </div>
    </div>
</div>
<!-- 条目中可以是任意内容，如：<img src=""> -->
<div class="layui-row layui-col-md12" >
    <h3 class="text_c " style="margin-bottom: 20px;margin-top: 10px;">
    <i class="layui-icon" style="font-size: 23px;color: #f4757c">&#xe67a;</i>
    <em>精</em>／
    <em>选</em>／
    <em>直</em>／
    <em>播</em>／
    <em>课</em>
    <i class="layui-icon" style="font-size: 23px;color: #f4757c">&#xe67a;</i>
    
  </h3>
  <!-- <div class="layui-col-md-offset2"> --><div class="layui-col-md2">&nbsp;</div>
      <div class="live-schedule-screen layui-col-md4">
        <img id="course_images_change" class="screen-img layui-col-md12" style="border-radius:2% 0% 0% 2%;" alt="课程封面" title="课程封面" onerror="this.src=&#39;//9.url.cn/edu/edu_modules/edu-ui/img/nohash/img-err2.png&#39;;this.onerror=null;" src="https://10.url.cn/qqcourse_logo_ng/ajNVdqHZLLCdNBr520kvPNGcNy5abHtFGrib57XbXBzJC0erlj61zlYF99iat74wyU4ZlibC630eTY/510">
        <div class="screen-bd" data-taid="2609291416679155">
          </div>
      </div>

      <div class="live-schedule-list layui-col-md4" style="overflow-y: auto;">
      <!-- 拉table做下拉 -->
      <table class="layui-table" row="text"  lay-skin="line" style="background-color: #dedede;margin-top: 0px;margin-bottom: 0px;border: 0px;">
        <tr class="info_tr" data-img="__STATIC__/img/59b8a486000107fb05400300.jpg" data-title="title">
          <td style="height: 48px;">
            <div class=list-block-n> </div>
            <div class="axis"></div>
            <div class="item-time-point-n"></div>
            <div class="item-time-y" >直播中</div>
            <div class="item-info item-name-y">【齐论】新品如何短时间流量及订单飞涨</div>
        </td>
        </tr>
       
        <tr class="info_tr" data-img="https://10.url.cn/qqcourse_logo_ng/ajNVdqHZLLCdNBr520kvPNGcNy5abHtFGrib57XbXBzJC0erlj61zlYF99iat74wyU4ZlibC630eTY/510" data-title="title">
          <td style="height: 48px;">
           <div class=list-block-n> </div>
            <div class="axis"></div>
            <div class="item-time-point-n"></div>
            <div class="item-time-y" >直播中</div>
            <div class="item-info item-name-y" style="color: #23b8ff">【齐论】新品如何短时间流量及订单飞涨</div>
        </td>
        </tr>
        <tr class="info_tr" data-img="__STATIC__/img/59b8a486000107fb05400300.jpg" data-title="title">
          <td style="height: 48px;">
            <div class=list-block-n> </div>
            <div class="axis"></div>
            <div class="item-time-point-n"></div>
            <div class="item-time-y" >直播中</div>
            <div class="item-info item-name-y" style="color: #23b8ff">【齐论】新品如何短时间流量及订单飞涨</div>
        </td>
        </tr>
        <tr class="info_tr">
          <td style="height: 48px;">
          <div class=list-block-n> </div>
            <div class="axis"></div>
            <div class="item-time-point-n"></div>
            <div class="item-time" >19:30</div>
            <div class="item-info item-name" >【齐论】新品如何短时间流量及订单飞涨</div>
        </td>
        </tr>
        <tr class="info_tr">
          <td style="height: 48px;">
          <div class=list-block-n> </div>
            <div class="axis"></div>
            <div class="item-time-point-n"></div>
            <div class="item-time" >19:30</div>
            <div class="item-info item-name" >【齐论】新品如何短时间流量及订单飞涨</div>
        </td>
        </tr>
      </table>
      <div class="nano-pane"><div class="nano-slider" style="height: 239px; transform: translate(0px, 109px);"></div></div>
    </div>
  <!-- </div> -->
  <div class="layui-row layui-col-md12 " style="height: 30px;"> </div>
</div>
<div class="layui-row layui-col-md12 backg_qiangray" style="box-shadow: 0px 0px 1px #ccc inset;" >
<!--   <h2 class="text_c" style="margin-bottom: 20px;margin-top: 10px;">精选直播课</h2> -->
  <h3 class="text_c " style="margin-bottom: 20px;margin-top: 10px;">
    <i class="layui-icon" style="font-size: 23px;color: #f4757c">&#xe756;</i>
    <em>热</em>／
    <em>门</em>／
    <em>视</em>／
    <em>频</em>
    <i class="layui-icon" style="font-size: 23px;color: #f4757c">&#xe756;</i>
    
  </h3>
    <div class="layui-col-md2">&nbsp;</div>
    <!-- 课程块 -->
    <div class="height500 layui-col-md8 float_l">
      {php}for($i=0;$i<10;$i++){{/php}
      <div class="course_block" >
        <div>
          <img class="course_img" src="__STATIC__/img/59b8a486000107fb05400300.jpg">
        </div>
        <div class="course-card-content"><!--课程内容-->
          <h3 class="text_c course_h3">全网最热Python3入门+进阶 更快上手实际开发</h3>
        </div>
      <div class="course-card-bottom">
        <div class="course-card-info">
          <span class="course-text">实战</span>
          <span class="course-text">初级</span>
          <span class="course-text">
            <i class="layui-icon">&#xe770;</i>5850</span>
          <span class="course-star-box">
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
          </span>
        </div>
        <div style="font-size: 12px;color: #4D555D;padding: 2%">￥366.00
        </div>
      </div>
    </div>
    {php}}{/php}
      

    </div>
     <div class="layui-row layui-col-md12 backg_qiangray" style="height: 30px;"> </div>
</div>
<div class="layui-row layui-col-md12 " style="box-shadow: 0px 0px 1px #ccc inset;" >
<!--   <h2 class="text_c" style="margin-bottom: 20px;margin-top: 10px;">精选直播课</h2> -->
  <h3 class="text_c " style="margin-bottom: 20px;margin-top: 10px;">
    <i class="layui-icon" style="font-size: 23px;color: #f4757c">&#xe756;</i>
    <em>最</em>／
    <em>新</em>／
    <em>上</em>／
    <em>传</em>
    <i class="layui-icon" style="font-size: 23px;color: #f4757c">&#xe756;</i>
    
  </h3>
    <div class="layui-col-md2">&nbsp;</div>
    <!-- 课程块 -->
    <div class="height500 layui-col-md8 float_l">
      {php}for($i=0;$i<5;$i++){{/php}
      <div class="course_block" >
        <div >
          <img class="course_img" src="__STATIC__/img/59b8a486000107fb05400300.jpg">
        </div>
        <div class="course-card-content"><!--课程内容-->
          <h3 class="text_c course_h3">全网最热Python3入门+进阶 更快上手实际开发</h3>
        </div>
      <div class="course-card-bottom">
        <div class="course-card-info">
          <span class="course-text">实战</span>
          <span class="course-text">初级</span>
          <span class="course-text">
            <i class="layui-icon">&#xe770;</i>5850</span>
          <span class="course-star-box">
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
          </span>
        </div>
        <div style="font-size: 12px;color: #4D555D;padding: 2%">￥366.00
        </div>
      </div>
    </div>
    {php}}{/php}
      

    </div>
     <div class="layui-row layui-col-md12 " style="height: 30px;"> </div>
</div>
<div class="layui-row layui-col-md12 backg_qiangray" style="box-shadow: 0px 0px 1px #ccc inset;" >
<!--   <h2 class="text_c" style="margin-bottom: 20px;margin-top: 10px;">精选直播课</h2> -->
  <h3 class="text_c " style="margin-bottom: 20px;margin-top: 10px;">
    <i class="layui-icon" style="font-size: 23px;color: #f4757c">&#xe756;</i>
    <em>公</em>／
    <em>开</em>／
    <em>课</em>
    <i class="layui-icon" style="font-size: 23px;color: #f4757c">&#xe756;</i>
    
  </h3>
<div class="layui-row" style="margin:0px 0px 12px 18px;">
  <div class="layui-col-md-offset2 layui-col-md4" style="padding-left: 25px;"> 
    <div class="layui-row grid-demo " >
      <div class="layui-col-md-offset1 layui-col-md10" style="background: url(__STATIC__/img/title1.jpg);height: 108px;border-radius: 25px;">
        <h3 class="ellipsis text_c">打开Spring Boot学习的最佳方式<p class="ellipsis1 text_c">直击Spring Boot框架核心，颠覆Java企业应用开发</p></h3>
        
      </div>
    </div>
    
  </div>

  <div class="layui-col-md4" style="padding-left: 25px;" > 
    <div class="layui-row grid-demo " >
      <div class="layui-col-md10" style="background: url(__STATIC__/img/title2.jpg);height: 108px;border-radius: 16px;">
        <h3 class="ellipsis text_c">打开Spring Boot学习的最佳方式</h3>
        <p class="ellipsis1 text_c">直击Spring Boot框架核心，颠覆Java企业应用开发</p>
      </div>
    </div>
    
  </div>
</div>
    <div class="layui-col-md2">&nbsp;</div>
    <!-- 课程块 -->
    <div class="height500 layui-col-md8 float_l">
      {php}for($i=0;$i<5;$i++){{/php}
      <div class="course_block" >
        <div >
          <img class="course_img" src="__STATIC__/img/59b8a486000107fb05400300.jpg">
        </div>
        <div class="course-card-content"><!--课程内容-->
          <h3 class="text_c course_h3">全网最热Python3入门+进阶 更快上手实际开发</h3>
        </div>
      <div class="course-card-bottom">
        <div class="course-card-info">
          <span class="course-text">实战</span>
          <span class="course-text">初级</span>
          <span class="course-text">
            <i class="layui-icon">&#xe770;</i>5850</span>
          <span class="course-star-box">
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
            <i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
          </span>
        </div>
        <div style="font-size: 12px;color: #4D555D;padding: 2%">￥366.00
        </div>
      </div>
    </div>
    {php}}{/php}
      

    </div>
     <div class="layui-row layui-col-md12 " style="height: 30px;"> </div>
</div>
 <!-- 页脚 -->
<div class="width100 float_l padding_t30 height193">
  <div class="width_1200 margin_auto">
     
        <div class="width100 float_l text_c yejiao color_gray" >
            <a>关于我们</a>
            <a>企业合作</a>
            <a>联系我们</a>
            <a>意见反馈</a>
            <a>友情链接</a>
      </div>
        <div class="width100 float_l text_c border_t margin_t20 padding_t20 color_gray fon_siz12">
          <span>© 2016   京ICP备13042132号</span>
        </div>
    </div>
</div>
<!-- <script src="__STATIC__/layui/layui.js"></script> -->
<script>
  $('#userinfomess').hover(function(){
      $('#userinfoset').attr('class','userinfo');
    },
    function(){
      // $('#userinfoset').attr('class','userinfo userinfo-hoverls');
    })
  $('#userinfoset').hover(function(){

  },function(){
      $('#userinfoset').attr('class','userinfo userinfo-hoverls');
    }
  )
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#test1',
    width: '80%',
    adim:"fade",
    arrow: 'always',
    height:'450px',
    anim:'fade',
  });
});

layui.use('carousel', function(){
 var carousel = layui.carousel;
 // alert(carousel)
//监听轮播切换事件
carousel.on('change(demo)', function(obj){
    // console.log(obj.index); //当前条目的索引
    // console.log(obj.prevIndex); //上一个条目的索引
    // console.log(obj.item); //当前条目的元素对象
    // alert(obj.index);
    if(obj.index=='1'){
      $('.list-color').attr('style','background-image: url("__STATIC__/img/title1.jpg");height: 100px;opacity: 0.3;filter:blur(180px);top:150px;width: 100%;position: absolute;top: 10px;width: 100%;height: 200px;filter:blur(100px);z-index: -1');
      // alert($('.list-color').attr('style'));
    }else if(obj.index=='2'){
      $('.list-color').attr('style','background-image: url("__STATIC__/img/title2.jpg");height: 100px;opacity: 0.3;filter:blur(180px);top:150px;width: 100%;position: absolute;top: 10px;width: 100%;height: 200px;filter:blur(100px);z-index: -1');
      // alert($('.list-color').attr('style'));
    }else{
      $('.list-color').attr('style','background-image: url("__STATIC__/img/0.jpg");height: 100px;opacity: 0.3;filter:blur(180px);top:150px;width: 100%;position: absolute;top: 10px;width: 100%;height: 200px;filter:blur(100px);z-index: -1');
    }
    
  });
});

</script>
<script type="text/javascript">
layui.use('table', function(){
  var table = layui.table;
  table.render({ //其它参数在此省略
    skin: 'line' //行边框风格
    ,even: true //开启隔行背景
    ,size: 'lg' //小尺寸的表格
  }); 
});
//监听行单击事件
$('table tr').hover(function(){
  var img = $(this).attr('data-img');
  var title = $(this).attr('data-title');
  $('#course_images_change').attr('src',img);
  // $('tr .item-time-point-n').attr('class','item-time-point');
  // $(this).attr('class','item-time-point')
  var jj=$(this).children('td').children('div');
  jj.each(function () {
    // alert($(this).attr('class'));
    if($(this).attr('class')=='item-time-point-n'){
      $(this).attr('class','item-time-point');
    }
    if($(this).attr('class')=='list-block-n'){
      $(this).attr('class','list-block-y');
    }
    if($(this).attr('class')=='item-time'){
      $(this).attr('class','item-time-y1');
    }
    
    if($(this).attr('class')=='item-info item-name'){
      $(this).attr('class','item-info item-name-y1');
    }
  });
  // 
},
  function(){
    var jj=$(this).children('td').children('div');
    jj.each(function () {
      if($(this).attr('class')=='item-time-point'){
        $(this).attr('class','item-time-point-n');
      }
      if($(this).attr('class')=='list-block-y'){
        $(this).attr('class','list-block-n');
      }
      if($(this).attr('class')=='item-time-y1'){
        $(this).attr('class','item-time');
      }
      if($(this).attr('class')=='item-info item-name-y1'){
      $(this).attr('class','item-info item-name');
    }
    });
  });
  // 课程模块的hover事件
  $('.course_block').hover(function(){

    var div=$(this).children('div');
    div.each(function () {
      // alert($(this).attr('class'));
      if($(this).attr('class')=='course-card-content'){
        $(this).children('h3').attr('style','color:red');
      }
    });
  },
  function(){
    var div=$(this).children('div');
    div.each(function () {
      // alert($(this).attr('class'));
      if($(this).attr('class')=='course-card-content'){
        $(this).children('h3').attr('style','color:#07111B');
      }
    });
  })
</script>
<style type="text/css">
.course_block img:hover{
-webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(1.1); /*Mozilla scale version*/
-o-transform:scale(1.1); /*Opera scale version*/
box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
-webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
opacity: 1;

}

.course-card-content h3:hover{
  color: red;
}
</style>
<style type="text/css">
  

  .list-color{
    background-image: url("__STATIC__/img/title1.jpg");
    height: 100px;
    opacity: 0.3;
    filter:blur(180px);
    top:150px;
    width: 100%;
    position: absolute;
    top: 10px;
    width: 100%;
    height: 200px;
    filter:blur(100px);
    z-index: -1
}

</style>
</body>
</html>