<!DOCTYPE html>
<html>
<head>
	<title>test</title><script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
<form action="{:url('Index/index/test')}" id="form_login" method="post" enctype="multipart/form-data">
                    <input type="number" name="sdf" max="2" min="0" value="2">
                    <input type="hidden" name="token" value="{$token}">
                    <input type="file" name="files" multiple>
                    <input type="submit" id="form" value="提交">
                    </form>
</body>

</html>