<html>
	<head>
		<meta charset="utf-8">
		<title>资源平台</title>
		<script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/muke.css">
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/user.css">
		<link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css">
		<!-- <link href="__STATIC__/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" /> -->
		<script type="text/javascript" src="__STATIC__/js/jquery.SuperSlide.2.1.1.js"></script>
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/course.css">
		<script src="__STATIC__/layui/layui.js"></script>
		<script type="text/javascript" src="__STATIC__/js/cookie.js"></script>
		<style>
			@media (max-width: 1000px){
            .width100 {
                width: 1000px;
            }
            .width20 {
                width: 200px;
            }
            .width60 {
                width: 600px;
            }
            .width12 {
                width: 120px;
            }
        }
		</style>
	</head>
	<body>
		<div class="width100" >

		</div>
	</body>
</html>