{include file="common/headcss"}
{include file="common/head"}
<style type="text/css">
	@media (max-width: 1500px) {
	    .layui-col-md12 { 
	    	width: 1500px;
	    }
	    .width100{
	    	width: 1500px;
	    }
	}
</style>
<div style="height: 80px;"></div>
<div class="width100 float_l">
	<div class="settings-cont float_l">
		<div class="admin-left float_l">
			<div class="avator-wapper">
				<div class="avator-mode">
					<img class="avator-img" src="https://img.mukewang.com/5333a17a0001592502000200-200-200.jpg" data-portrait="5333a17a0001592502000200" width="92" height="92">
				</div>
				<div class="des-mode">
					<p>admin</p>
				</div>
			</div>
			<div class="list-wapper">
				<h2>系统设置</h2>
				<hr>
			</div>
			<ul class="admin-menu">
				<li>
					<a class="menu-ison">用户管理&nbsp;&nbsp;&nbsp;&nbsp;-></a>
				</li>
				<li>
					<a class="menu-list">设备管理</a>
				</li>
				<li>
					<a class="menu-list">点播管理</a>
				</li>
				<li>
					<a class="menu-list">直播管理</a>
				</li>
				<li>
					<a class="menu-list">公开课管理</a>
				</li>
				<li>
					<a class="menu-list">类别管理</a>
				</li>
				<li>
					<a class="menu-list">公共视频管理</a>
				</li>
			</ul>
		</div>
		<div class="admin-right float_l">
			<h4>用户列表</h4>
			<table id="demo" lay-filter="test"></table>
			</table>
		</div>
	</div>
	
</div>
</body>
<script>
	//数据表格
layui.use('table', function(){
  var table = layui.table;
  
  //第一个实例
  // table.render({
  //   elem: '#demo'
  //   ,height: 500
  //   ,defaultToolbar:['filter']
  //   ,url: '{:url("Index/admin/getuser")}' //数据接口
  //   ,page: true //开启分页
  //   ,cols: [[ //表头
  //     {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
  //     ,{field: 'username', title: '用户名', width:80}
  //     ,{field: 'auth_level', title: '权限等级', width:120, sort: true}
  //     ,{field: 'en', title: '状态', width:80} 
      
  //   ]]
  // });
  
});
</script>
<script>
	$('#heade').attr('style','position:static');
//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;
  
  //…
});
//渲染form表单（下拉框）
layui.use('form', function(){
  var form = layui.form;
   form.on('select(search_type)', function(data){
   	var n=parseInt(data.value);
    switch(n)
	{
	case 0:
	   alert('点播视频');
	   break;
	case 1:
		alert('直播视频');
	   break;
    case 2:
        alert('公开课视频');
        break;
    case 3:
    	alert('全部视频');
    	break;
	default:
	 	break;
	}
  });
});
$('#userinfomess').hover(function(){
    $('#userinfoset').attr('class','userinfo');
  },
  function(){})
$('#userinfoset').hover(function(){

},function(){
    $('#userinfoset').attr('class','userinfo userinfo-hoverls');
  }
)
</script>
</html>
