<body class="backg_huibai">
<!-- 顶部 -->
<div class="width100 float_l height150" id="heade" style="position: fixed; top:0;left:0;z-index:50;">
  <div class="width100 float_l height80 line_hei80" style="background-color: #fff; opacity:1;box-shadow: 0px 0px 3px #ccc inset;">

        <div class="float_l">
            <div class="float_l margin_l20">
                <img src="__STATIC__/img/logo.png">
            </div>
            <div class="float_l">
                <ul class="ul_li fon_siz16">
                    <li><a href="{:url('Index/index/index')}">首页</a></li>
                    <li><a href="{:url('Index/index/tab')}">点播</a></li>
                    <li><a href="{:url('Index/live/live')}">直播</a></li>
                    <li><a href="{:url('Index/openclass/openclass')}">公开课</a></li>
                    <li><a href="{:url('Index/notice/notice')}">公告</a></li>
                </ul>
            </div>
        </div>
        
        <div class="float_r">
            <div class="float_l top_input">
                <input class="posi_relative" type="text" name="" id="" placeholder="请输入想搜索的内容...">
                <i class="layui-icon" id="searchicon" style="cursor: pointer;">&#xe615;</i>
            </div>
          
{include file="common/userlogin"}
        </div>
  </div>
</div>
