<div class="list-color width100" style="background-image: url(__STATIC__/img/test.png);top:150px;position: absolute;top: 50px;height: 180px;z-index: -1;background-size:cover; ">
</div>
<div style="height: 80px;"></div>
<!-- 个人资料 -->
<div class="width100 float_l" style="height: 180px;">
	<div class="user-bg">
		<div class="user-pic">
			<img class="headerimg" src="__STATIC__/img/tx.jpg">
		</div>
		<div class="user-info-right" id="username">
			
		</div>
		<div class="item-follows">
			<ul>
				<li>
					<em id="viewtime"></em>
					<span>在线时长</span>
				</li>
				<li>
					<em id="collect"></em>
					<span>收藏</span>
				</li>
				<li>
					<em id="videotime"></em>
					<span>观看时长</span>
				</li>
				

			</ul>
		</div>
	</div>
</div>
<div class="width100 float_l">
	<div class="wrap">
		<div class="slider float_l">
			<ul id="menu">
			</ul>
		</div>
<script>
var token=getCookie('token');
getdata();
getmenu();
//获取菜单数据
function getmenu(){
	var url=getRootPath()+'/index.php/Index/person/menu';
	var menuurl=getRootPath()+'/index.php/';
	var action="{$action}";
	// alert(action);
	var html='';
	if(token){
		$.ajax({
			url:url,
			type:'post',
			dataType:'json',
			data:{'token':token},
			success:function(e){
				if(e.status=='1'){
					for(var item in e.data){
						// alert(item);
						// alert(e.data[item]);
						// var arr=e.data[item].replace('\/','/');
						// alert(e.data[item]);
						var arr=e.data[item].split(':');
						//有就返回无就返回null
						if(arr[0].indexOf(action)>-1){
							exc="actived";
							color='#fff;';
						}else{
							exc="active";
							color='#787d82;'
						}
						var menu=menuurl+arr[0];
						// alert(menu);
						html+='<li><a href="'+menu+'"class="'+exc+'"><i class=layui-icon style="font-size: 20px;color:'+color+'line-height: 48px;">'+arr[1]+'</i><span style="margin-left: 15px;">'+item+'</span><b class=icon-drop_right></b></a></li>';
					}
					// alert(html);
					$('#menu').html(html);
				}else{
					console.log("操作失败");
				}
			}
		});
	}
}
//获取页面三个基本数据
function getdata(){
	$('#username').html(getCookie('username'));
	var url=getRootPath()+"/index.php/Index/person/perpub";
	// alert(url);
	if(token){
		$.ajax({
			url:url,
			type:'post',
			dataType:'json',
			data:{'token':token},
			success:function(e){
				if(e.status=='1'){
					$('#viewtime').html(timehour(e.data.viewtime)+'H');
					$('#videotime').html(timehour(e.data.videotime)+'H');
					$('#collect').html(e.data.collect);
				}else{
					alert('你的网络炸了还是你的操作秀了？');
				}
			}
		})
	}
}
function timehour(second){
		second=second/3600;
		return parseInt(second*100)/100;
	}
</script>
