<div class="list-color width100" style="background-image: url(__STATIC__/img/test.png);top:150px;position: absolute;top: 50px;height: 180px;z-index: -1;background-size:cover; ">
</div>
<div style="height: 80px;"></div>
<!-- 个人资料 -->
<div class="width100 float_l" style="height: 180px;">
	<div class="user-bg">
		<div class="user-pic">
			<img class="headerimg" src="http://img2.mukewang.com/545865da00012e6402200220-140-140.jpg">
		</div>
		<div class="user-info-right" id="username">
			
		</div>
		<div class="item-follows">
			<ul>
				<li>
					<em id="viewtime"></em>
					<span>在线时长</span>
				</li>
				<li>
					<em id="collect"></em>
					<span>收藏</span>
				</li>
				<li>
					<em id="videotime"></em>
					<span>观看时长</span>
				</li>
				

			</ul>
		</div>
	</div>
</div>
<div class="width100 float_l">
	<div class="wrap">
		<div class="slider float_l">
			<ul>
				<li>
					<a href="{:url('Index/person/mycollect')}" class="active">
		            	<i class="layui-icon" style="font-size: 20px;color: #787d82;line-height: 48px;">&#xe600;</i><span style="margin-left: 15px;">收藏夹</span><b class="icon-drop_right"></b>
		            </a>
				</li>
				<li>
					<a href="{:url('Index/person/userinfo')}" class="active">
						<i class="layui-icon" style="font-size: 20px;color: #787d82;line-height: 48px;">&#xe60e;</i>
						<span style="margin-left: 15px;">历史观看</span><b class="icon-drop_right"></b>
		            </a>
		        </li>
		        <li>
					<a href="{:url('Index/person/myvideo')}" class="active">
						<i class="layui-icon" style="font-size: 20px;color: #787d82;line-height: 48px;">&#xe6ed;</i>
						<span style="margin-left: 15px;">我的视频</span><b class="icon-drop_right"></b>
		            </a>
				</li>
				<li>
					<a href="{:url('Index/person/publicvideo')}" class="active">
						<i class="layui-icon" style="font-size: 20px;color: #787d82;line-height: 48px;">&#xe681;</i>
						<span style="margin-left: 15px;">公共视频</span><b class="icon-drop_right"></b>
		            </a>
				</li>
				<li>
					<a href="{:url('Index/person/note')}" class="active">
						<i class="layui-icon" style="font-size: 20px;color: #787d82;line-height: 48px;">&#xe642;</i>
						<span style="margin-left: 15px;">我的笔记</span><b class="icon-drop_right"></b>
		            </a>
				</li>
				<li>
					<a href="{:url('Index/person/myassess')}" class="actived">
						<i class="layui-icon" style="font-size: 20px;color: #fff;line-height: 48px;">&#xe66e;</i>
						<span style="margin-left: 15px;">我的评价</span><b class="icon-drop_right"></b>
		            </a>
				</li>
				<li>
					<a href="{:url('Index/person/myrequest')}" class="active">
						<i class="layui-icon" style="font-size: 20px;color: #787d82;line-height: 48px;">&#xe609;</i>
						<span style="margin-left: 15px;">我的讨论</span><b class="icon-drop_right"></b>
		            </a>
				</li>
			</ul>
		</div>
<script>
var token=getCookie('token');
getdata();
getmenu();
//获取菜单数据
function getmenu(){
	var url=getRootPath()+'/index.php/Index/person/menu';
	var action="{$action}";
	if(token){
		$.ajax({
			url:url,
			type:'post',
			dataType:'json',
			data:{'token':token,'action':action},
			success:function(e){
				if(e.status=='1'){
					alert(e.data.action);
				}
			}
		});
	}
}
//获取页面三个基本数据
function getdata(){
	$('#username').html(getCookie('username'));
	var url=getRootPath()+"/index.php/Index/person/perpub";
	// alert(url);
	if(token){
		$.ajax({
			url:url,
			type:'post',
			dataType:'json',
			data:{'token':token},
			success:function(e){
				if(e.status=='1'){
					$('#viewtime').html(timehour(e.data.viewtime)+'H');
					$('#videotime').html(timehour(e.data.videotime)+'H');
					$('#collect').html(e.data.collect);
				}else{
					alert('你的网络炸了还是你的操作秀了？');
				}
			}
		})
	}
}
function timehour(second){
		second=second/3600;
		return parseInt(second*100)/100;
	}
</script>
