<!DOCTYPE html>
<html>
<head>
	<title>我来回答</title>
<script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/muke.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/user.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/course.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css">
<script src="__STATIC__/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/js/cookie.js"></script>
</head>
<body class="backg_qiangray">
<div class="width100">
	<div class="answer-bg">
		{foreach name="assess" item="vo"}
		<div class="course-description" style="min-height: 150px;color: #1c1f21;">
			<a class="float_l">
				<img src="__STATIC__/img/touxiang.png" style="height: 48px;width: 48px;border-radius: 50%;">
			</a>
			<div class="assess-info float_l" style="cursor:pointer;margin-left: 10px;">
				<span class="username">
					{$vo.username}
				</span>
				<div class="user-score">
					{php}for($i=0;$i<(int)$vo['assess_score'];$i++){{/php}
					<i class="layui-icon" style="color: #ff9900;font-size: 7px;">&#xe67a;</i>
					{php}}{/php}
					{$vo.assess_score}分
				</div>
				<p class="" style="margin-top: 10px;">
					{$vo.assess_content}
				</p>
				<span class="float_r time" >时间：{php}echo date('Y-m-d H:i',$vo['assess_time']);{/php}</span>
			</div>
			
		</div>
		{/foreach}
	</div>
	
</div>
</body>
</html>