{include file="common/headcss"}
{include file="common/head"}
{include file="common/perpub"}

		<form class="layui-form">
		<div class="my-space-course float_l">
			<div class="course-tab float_l" >
				<!-- <a>历史观看</a> -->
				<div class="layui-input-block float_r" style="margin-top: 10px;">
			      <select name="coursetype" lay-verify="required" lay-filter="search_type" >
			        <option value="1">点播视频</option>
			        <option value="2">直播视频</option>
			        <option value="3">公开课视频</option>
			      </select>
			    </div>
			</div>
			
			<div class="course-list" id="list" style="min-height:250px;">
			</div>
			<center>
			<div id="test1"></div></center>
		</div>	
	</form>	
	</div>
	
</div>
<!-- <div class="width100" style="height: 1000px;background-color: #000;"></div> -->
<!-- 页脚 -->

</body>

<script>
	// 初始化页面
	window.onload=function(){
		getpage();
		getvideotype();
	}
	// layui的分页组件应该，先ajax请求过去后再初始化组件
	function getpage(){
		layui.use("laypage", function(){
			var laypage = layui.laypage;
			//执行一个laypage实例
			var url="{:url('Index/person/mycollectdata')}";
			var token=getCookie("token");
			var pagesize=2;
			var pagenow=1;
			var video_type=1;
			$.ajax({
				url:url,
				type:"post",
				dataType:"json",
				data:{"token":token,"video_type":video_type,"pagenow":pagenow,"pagesize":pagesize},
				success:function(e){
					if(e.status=='1'){
						if(e.data!=''){
							var html='';
							for(var item in e.data){
								console.log(e.data[item])
								var imageurl=getRootPath()+'/';
								html+='<div class="clearfix float_l"><img class="float_l" style="width:220px;height:120px;" src="'+imageurl+e.data[item].video_image+'"><div class="clearfix-title float_l"><div class="h4">'+e.data[item].video_title+'</div><p class="course-content float_l" style="margin-right:15px;">视频分类：'+e.data[item].video_type+'</p><p class="course-content">收藏日期：'+e.data[item].collect_time+'</p><span class="course-content">'+e.data[item].video_parent+'/'+ e.data[item].video_son+'</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作者:<span class="course-content">'+e.data[item].user_name+'</span><br><br><a class="titletab">我的笔记 ('+e.data[item].note_count+')</a><a class="titletab">讨论 ('+e.data[item].disscuss_count+')</a><a class="titletab3">评价 ('+e.data[item].assess_count+')</a><a class="study float_r" href="">查看</a></div></div><hr>';
							}
							$('#list').html(html);
							laypage.render({
							elem: "test1"
							,count: e.count
							,limit:e.pagesize
							,jump: function(obj, first){
								if(!first){
									$.ajax({
										url:url,
										type:"post",
										dataType:"json",
										data:{"token":token,"pagenow":obj.curr,"pagesize":obj.limit,'video_type':video_type},
										success:function(e){
											var html='';
											for(var item in e.data){
												console.log(e.data[item])
												var imageurl=getRootPath()+'/';
												html+='<div class="clearfix float_l"><img class="float_l" style="width:220px;height:120px;" src="'+imageurl+e.data[item].video_image+'"><div class="clearfix-title float_l"><div class="h4">'+e.data[item].video_title+'</div><p class="course-content float_l" style="margin-right:15px;">视频分类：'+e.data[item].video_type+'</p><p class="course-content">收藏日期：'+e.data[item].collect_time+'</p><span class="course-content">'+e.data[item].video_parent+'/'+ e.data[item].video_son+'</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作者:<span class="course-content">'+e.data[item].user_name+'</span><br><br><a class="titletab">我的笔记 ('+e.data[item].note_count+')</a><a class="titletab">讨论 ('+e.data[item].disscuss_count+')</a><a class="titletab3">评价 ('+e.data[item].assess_count+')</a><a class="study float_r" href="">查看</a></div></div><hr>';
											}
											$('#list').html(html);
										}
									});
								}else{
									// alert("首页")
								}
							}
						});
						}else{
							//暂无数据
							$('#test1').html("<p class='no-course-helper' style='text-align:center'><span>暂时无收藏！</span></p>");
						}
					}
				}
			})
			
		});
	}
function getvideodata(){

}
function getvideotype(){
	//注意：导航 依赖 element 模块，否则无法进行功能性操作
	layui.use("element", function(){
		var element = layui.element;
	});
	//渲染form表单（下拉框）
	layui.use("form", function(){
		var form = layui.form;
		form.on("select(search_type)", function(data){
			var n=parseInt(data.value);
			switch(n)
				{
				case 1:
					alert("点播视频");
					break;
				case 2:
					alert("直播视频");
					break;
					case 3:
						alert("公开课视频");
						break;
				default:
					break;
				}
		});
	});
}
$("#userinfomess").hover(function(){
    $("#userinfoset").attr("class","userinfo");
  },
  function(){})
$("#userinfoset").hover(function(){

},function(){
    $("#userinfoset").attr("class","userinfo userinfo-hoverls");
  }
)
</script>
</html>
