{include file="common/headcss"}
{include file="common/head"}
{include file="common/perpub"}

		<form class="layui-form">
		<div class="my-space-course float_l">
			<div class="course-tab float_l" >
				<!-- <a>历史观看</a> -->
				<div class="layui-input-block float_r" style="margin-top: 10px;">
			      <select name="coursetype" lay-verify="required" lay-filter="search_type">
			        <option value="1">点播视频</option>
			        <option value="2">直播视频</option>
			        <option value="3">公开课视频</option>
			      </select>
			    </div>
			</div>
			<div class="course-list" id="list" style="min-height:250px;"></div>
			<center><div id="test1"></div></center>
		</div>	
	</form>	
	</div>
	
</div>
<!-- <div class="width100" style="height: 1000px;background-color: #000;"></div> -->
<!-- 页脚 -->

</body>

<script>
	// 初始化页面
	var pagesize=10;//每页的数量
		var pagenow=1;//当前页
		var video_type=1;
		if(getPar('video_type')){
			video_type=getPar('video_type');
		}
		video_type=parseInt(video_type);
		switch(video_type){
			case 1:
				var html='';
				html+='<option value="1" selected>点播视频</option><option value="2">直播视频</option><option value="3">公开课视频</option>';
				$('#type').html(html);
			break;
			case 2:
				var html='';
				html+='<option value="2" selected>直播视频</option><option value="1">点播视频</option><option value="3">公开课视频</option>';
				$('#type').html(html);
			break;
			case 3:
				var html='';
				html+='<option value="3" selected>公开课视频</option><option value="1"  >点播视频</option><option value="2">直播视频</option>';
				$('#type').html(html);
			break;
			default:
			var html='';
				html+='<option value="1" selected>点播视频</option><option value="2">直播视频</option><option value="3">公开课视频</option>';
				$('#type').html(html);
			break;
		}
		//视频分类
		window.onload=function(){
			getpage();
			getvideotype();
		}
		// layui的分页组件应该，先ajax请求过去后再初始化组件
		function getpage(){
			layui.use("laypage", function(){
				var laypage = layui.laypage;
				//执行一个laypage实例
				var url="{:url('Index/person/discussdata')}";
				var videourl=getRootPath()+'/video';
				var token=getCookie("token");
				$.ajax({
					url:url,
					type:"post",
					dataType:"json",
					data:{"token":token,"video_type":video_type,"pagenow":pagenow,"pagesize":pagesize},
					success:function(e){
						if(e.status=='1'){
							if(e.data!=''){
								var html='';
								for(var item in e.data){
									var imageurl=getRootPath()+'/';
									html+='<div id="discussid'+e.data[item].discuss_id+'"><div class="clearfix float_l"><div class="clearfix-note float_l"><i class="layui-icon float_l" style="font-size: 24px;color: rgba(240,20,20,.6);margin-right: 20px;">&#xe6ed;</i><h3 class="float_l">'
									+e.data[item].video_title+
									'</h3><span class="course-content" style="font-size:16px;"></span><br><span class="course-content" style="margin-left: 45px;">'
									+'分类：'+e.data[item].video_parent+'/'+ e.data[item].video_son+
									'</span><span class="course-content" style="margin-left: 12px;">作者：'
									+e.data[item].user_name+'<span class="course-content" style="margin-left: 12px;">讨论时间：'+e.data[item].discuss_time+'</span>'+
									'</span><div class="course-description" style="min-height: 100px;color: #1c1f21; box-shadow: 0px 4px 8px 3px rgba(28,31,33,.2);"><p class="">'
									+e.data[item].discuss_content+
									'</p><a class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm float_r" style="margin-left:10px;" onclick="deldiscuss('
									+e.data[item].video_id+','+video_type+
									','+e.data[item].discuss_id+')">删除讨论</a><a class="layui-btn layui-btn-sm layui-btn-radius float_r" href="'
									+videourl+'?video_id='+e.data[item].video_id+
									'&video_type='+video_type+'">观看视频</a></div></div></div><hr></div>';
								}
								$('#list').html(html);
								laypage.render({
								elem: "test1"
								,count: e.count
								,limit:e.pagesize
								,jump: function(obj, first){
									if(!first){
										pagesize=obj.limit;//前端设置页数量
										pagenow=obj.curr;//前端设置当前页
										$.ajax({
											url:url,
											type:"post",
											dataType:"json",
											data:{"token":token,"pagenow":obj.curr,"pagesize":obj.limit,'video_type':video_type},
											success:function(e){
												if(e.status!='0'){
												var html='';
												for(var item in e.data){
													console.log(e.data[item])
													var imageurl=getRootPath()+'/';
													html+='<div id="discussid'+e.data[item].discuss_id+'"><div class="clearfix float_l"><div class="clearfix-note float_l"><i class="layui-icon float_l" style="font-size: 24px;color: rgba(240,20,20,.6);margin-right: 20px;">&#xe6ed;</i><h3 class="float_l">'
													+e.data[item].video_title+
													'</h3><span class="course-content"style="font-size:16px;"></span><br><span class="course-content" style="margin-left: 45px;">'
													+'分类：'+e.data[item].video_parent+'/'+ e.data[item].video_son+
													'</span><span class="course-content" style="margin-left: 12px;">作者：'
													+e.data[item].user_name+'<span class="course-content" style="margin-left: 12px;">讨论时间：'+e.data[item].discuss_time+'</span>'+
													'</span><div class="course-description" style="min-height: 100px;color: #1c1f21; box-shadow: 0px 4px 8px 3px rgba(28,31,33,.2);"><p class="">'
													+e.data[item].discuss_content+
													'</p><a class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm float_r" style="margin-left:10px;" onclick="deldiscuss('
													+e.data[item].video_id+','+video_type+
													','+e.data[item].discuss_id+')">删除讨论</a><a class="layui-btn layui-btn-sm layui-btn-radius float_r" href="'
													+videourl+'?video_id='+e.data[item].video_id+
													'&video_type='+video_type+'">观看视频</a></div></div></div><hr></div>';
												}
												$('#list').html(html);
											}else{
												// $('#test1').html("<p class='no-course-helper' style='text-align:center'><span>下页暂时无记录！</span></p>");
											}
											}
										});
									}else{
										// alert("首页")不做处理
									}
								}
							});
							}else{
								//暂无数据
								$('#test1').html("<p class='no-course-helper' style='text-align:center'><span>暂时无记录！</span></p>");
							}
						}else{
								//暂无数据
								$('#test1').html("<p class='no-course-helper' style='text-align:center'><span>暂时无记录！</span></p>");
							}
					}
				})
				
			});
		}
	
	//注意：导航 依赖 element 模块，否则无法进行功能性操作
	layui.use('element', function(){
		var element = layui.element;
		
		//…
	});
	
	$('#userinfomess').hover(function(){
			$('#userinfoset').attr('class','userinfo');
		},
		function(){})
	$('#userinfoset').hover(function(){
	
	},function(){
			$('#userinfoset').attr('class','userinfo userinfo-hoverls');
		}
	)
	//获取网站参数
	function getPar(par){
				//获取当前URL
				var local_url = document.location.href; 
				//获取要取得的get参数位置
				var get = local_url.indexOf(par +"=");
				if(get == -1){
						return false;   
				}   
				//截取字符串
				var get_par = local_url.slice(par.length + get + 1);    
				//判断截取后的字符串是否还有其他get参数
				var nextPar = get_par.indexOf("&");
				if(nextPar != -1){
						get_par = get_par.slice(0, nextPar);
				}
				return get_par;
		}
		function getvideotype(){
		//注意：导航 依赖 element 模块，否则无法进行功能性操作
		layui.use("element", function(){
			var element = layui.element;
		});
		//渲染form表单（下拉框）
		layui.use("form", function(){
			var form = layui.form;
			form.on("select(search_type)", function(data){
				var n=parseInt(data.value);
				switch(n)
					{
					case 1:
					var url=getRootPath()+'/index/person/myrequest?video_type=1';
						location.href=url;
						break;
					case 2:
						var url=getRootPath()+'/index/person/myrequest?video_type=2';
						location.href=url;
						break;
						case 3:
						var url=getRootPath()+'/index/person/myrequest?video_type=3';
						location.href=url;
							break;
					default:
						break;
					}
			});
		});
	}
	/**
 *删除讨论
	*/
		 function deldiscuss(video_id,video_type,discuss_id){
		var token=getCookie('token');
		var url=getRootPath()+'/index/person/deldiscuss';
		if(video_id!=''&&video_type!=''&&token!=''&&discuss_id!=''){
			$.ajax({
				url:url,
				type:'post',
				dataType:'json',
				data:{'token':token,'video_id':video_id,'video_type':video_type,'discuss_id':discuss_id},
				success:function(e){
					var tab='discussid';
					tab+=discuss_id;
					// alert(tab);
					if(e.status=='1'){
						layer.msg('删除成功');
						$("#"+tab+"").fadeTo("slow", 0.01, function(){
						$(this).slideUp("slow", function() {
							$(this).remove();
						});
					});
					}else{
						layer.msg('该讨论并不存在');
					}
				}
			});
		}else{
			layer.msg('您还未登录');
		}
	}
	</script>
</html>
