{include file="common/headcss"}
{include file="common/head"}
{include file="common/perpub"}

		<form class="layui-form">
		<div class="my-space-course float_l">
			<div class="course-tab float_l" >
				<!-- <a>历史观看</a> -->
				<div class="layui-input-block float_r" style="margin-top: 10px;">
			      <select name="coursetype" lay-verify="required" lay-filter="search_type">
			        <option value="3">全部视频</option>
			        <option value="0">点播视频</option>
			        <option value="1">直播视频</option>
			        <option value="2">公开课视频</option>
			      </select>
			    </div>
			</div>
			
			<div class="course-list">
				{php}for($i=0;$i<15;$i++){{/php}
				<div class="clearfix float_l">
					<div class="clearfix-note float_l">
						<i class="layui-icon float_l" style="font-size: 24px;color: rgba(240,20,20,.6);margin-right: 20px;">&#xe6ed;</i>
						<h3 class="float_l">Spring Boot 2.0深度实践之系列总览</h3>
						<span class="course-content">视频分类：点播视频</span><br>
						<span class="course-content" style="margin-left: 45px;">一级类目 / 二级类目 / 三级类目</span>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作者:<span class="course-content">大白菜</span>
						<br>
						<br>
						<span >还有最后一章就学完了，先来评价一下，本门课程对于新手来说涉及到的知识点确实挺多的，帮我巩固了SSM的知识，也快速知道了springboot的用法，同时还学会了阿里云的部署，老师的手记很方便。不过个人觉得有一点瑕疵，微信这几小节讲得不够深入，其实还是希望能带着敲的。因为之前没有接触过微信相关的开发，不过整体来说，作为刚学习完SSM框架的在校大学生 作为第一个实战课程 ，还是收获满满，给翔仔老师点赞。还有最后一章就学完了，先来评价一下，本门课程对于新手来说涉及到的知识点确实挺多的，帮我巩固了SSM的知识，也快速知道了springboot的用法，同时还学会了阿里云的部署，老师的手记很方便。不过个人觉得有一点瑕疵，微信这几小节讲得不够深入，其实还是希望能带着敲的。因为之前没有接触过微信相关的开发，不过整体来说，作为刚学习完SSM框架的在校大学生 作为第一个实战课程 ，还是收获满满，给翔仔老师点赞。还有最后一章就学完了，先来评价一下，本门课程对于新手来说涉及到的知识点确实挺多的，帮我巩固了SSM的知识，也快速知道了springboot的用法，同时还学会了阿里云的部署，老师的手记很方便。不过个人觉得有一点瑕疵，微信这几小节讲得不够深入，其实还是希望能带着敲的。因为之前没有接触过微信相关的开发，不过整体来说，作为刚学习完SSM框架的在校大学生 作为第一个实战课程 ，还是收获满满，给翔仔老师点赞。</span>
					</div>
					
				</div>
				<hr>
				{php}}{/php}
			</div>
		</div>	
	</form>	
	</div>
	
</div>
<!-- <div class="width100" style="height: 1000px;background-color: #000;"></div> -->
<!-- 页脚 -->

</body>

<script>
//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;
  
  //…
});
//渲染form表单（下拉框）
layui.use('form', function(){
  var form = layui.form;
   form.on('select(search_type)', function(data){
   	var n=parseInt(data.value);
    switch(n)
	{
	case 0:
	   alert('点播视频');
	   break;
	case 1:
		alert('直播视频');
	   break;
    case 2:
        alert('公开课视频');
        break;
    case 3:
    	alert('全部视频');
    	break;
	default:
	 	break;
	}
  });
});
$('#userinfomess').hover(function(){
    $('#userinfoset').attr('class','userinfo');
  },
  function(){})
$('#userinfoset').hover(function(){

},function(){
    $('#userinfoset').attr('class','userinfo userinfo-hoverls');
  }
)
</script>
</html>
